<!-- begin post -->
{% assign author = site.authors[post.author] %}
<div class="col-md-12 mb-30px"  style="padding: 0;">
    <div class="listfeaturedtag h-100">
        <div class="row h-100">
            <div class="col-lg-5 col-md-12 pr-lg-0">
                <div class="h-100">
                    <div class="wrapthumbnail">
                        <a href="{{ site.baseurl }}{{ item.url }}">
			{% if item.itemphoto %}
				<span class="thumbnail d-block" style="background-image:url({{ item.itemphoto }});">
			{% elsif item.itemid %}
				{% capture ItemImagePath %}assets/items/{{ item.itemid }}_th{% endcapture %}
				{% for static_file in site.static_files %}
					{% if static_file.path contains ItemImagePath %}
						<span class="thumbnail d-block" style="background-image:url({{ site.baseurl }}{{ static_file.path }});">
					{% endif %}
				{% endfor %}
			{% endif %}

                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="h-100 card-group">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title" style="margin-bottom:10px;">
                                <a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
                            </h2>
							{% if item.itemcontributor %}
							<p class="post-name">{{ item.itemcontributor }}</span>
							{% endif %}
                        	   <h4 class="card-text">{{ item.shortdesc | strip_html | truncatewords:30 }}</h4>
                        </div>
                        <div class="card-footer b-0 bg-white mt-auto">
                            <div class="wrapfooter">
                                {% if post.author %}
                                <span class="meta-footer-thumb">
                                <img class="author-thumb" src="https://www.gravatar.com/avatar/{{ author.gravatar }}?s=250&d=mm&r=x" alt="{{ author.display_name }}">
                                </span>
                                <span class="author-meta">
                                <span class="post-name"><a target="_blank" href="{{ author.web }}">{{ author.display_name }}</a></span><br/>
                                {% endif %}
                                </span>
               {% assign sortedCategories = item.categories | sort %}
               {% for category in sortedCategories %}
               <a class="btn follow" href="{{site.baseurl}}/groups#{{ category | replace: " ","-" }}">{{ category }}</a>
               {% endfor %}
                                
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end post -->