---
# Add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

.blockquote {
border-left: 4px solid ##7A1705;
padding: 0 20px;
font-style: italic;
color: rgba(0,0,0,.5);
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax",
    "stars"
;
