---
title: "Items"
layout: default
permalink: "/items"
---

<!-- Begin Article
================================================== -->
<div class="container">
	<div class="row">

		<!-- Post Share -->
		<div class="col-md-2 pl-0">            
           {% include share.html %}  
		</div>
		

		<!-- Post -->        
        {% assign author = site.authors[page.author] %}
        
		<div class="col-md-9 flex-first flex-md-unordered">
			<div class="mainheading">

                <!-- Author Box -->
                {% if page.author %}				
				<div class="row post-top-meta">
					<div class="col-md-2">
						<img class="author-thumb" src="{% if author.image contains "http" %}{{ author.image }}{% else %}{{site.baseurl}}/images/authors/{{ author.image }}{% endif %}" alt="{{ author.display_name }}">
					</div>
					<div class="col-md-6">
						<a target="_blank" class="link-dark" href="{{ author.web }}">{{ author.display_name }}</a><a target="_blank" href="{{ author.twitter }}" class="btn follow">Follow</a>
						<p><span class="author-description">{{ author.description }}</span>						
					</div>
				<!-- Post Categories -->
					<div class="col-md-2">
						<ul class="tags">
							{% assign sortedCategories = page.categories | sort %}
							{% for category in sortedCategories %}
							<li>                        
							 <a class="smoothscroll" href="{{site.baseurl}}/groups/#{{ category | replace: " ","-" }}">{{ category }}</a>
							</li>
							{% endfor %}
						</ul>
					</div>
					<!-- End Categories -->

				</div>				
                {% endif %}
 
               
                <!-- Post Title -->
				<h1 class="posttitle">{{ page.title }}</h1> 
                
			</div>

			<!-- Post Featured Image -->
			{% if page.itemid %}	
			<img class="featured-image img-fluid" src="/assets/items/{{ page.itemid }}.jpg" alt="{{ page.title }}">
			{% endif %}
			<!-- End Featured Image -->

			<!-- Post Content -->
			<div class="article-post">
				{{content}}
			</div>


			<div class="element-set">

				<div class="section-title col-md-12 mt-4">
				<h2 id="Dublin Core"><span class="text-capitalize">Dublin Core</span></h2>
				</div>
					<div id="dublin-core-title" class="element">
				<h4>Title</h4>
							<div class="element-text">{{ page.title }}</div>
					</div><!-- end element -->
				<div id="dublin-core-subject" class="element">
				<h4>Subject</h4>
							<div class="element-text">{{ page.itemsubject }}</div>
					</div><!-- end element -->
				<div id="dublin-core-description" class="element">
				<h4>Description</h4>
							<div class="element-text">{{ page.title }}</div>
					</div><!-- end element -->
				<div id="dublin-core-creator" class="element">
				<h4>Creator</h4>
							<div class="element-text">{{ page.itemcreator }}</div>
					</div><!-- end element -->
				<div id="dublin-core-contributor" class="element">
				<h4>Contributor</h4>
							<div class="element-text">{{ page.itemcontributor }}</div>
					</div><!-- end element -->
				<div id="dublin-core-date" class="element">
				<h4>Date</h4>
							<div class="element-text">{{ page.itemdate }}</div>
					</div><!-- end element -->
				<div id="dublin-core-type" class="element">
				<h4>Type</h4>
							<div class="element-text">{{ page.itemtype }}</div>
					</div><!-- end element -->
			</div><!-- end element-set -->

                        
            <!-- End Categories -->

		</div>
		<!-- End Post -->

	</div>
</div>
<!-- End Article
================================================== -->

  