---
title: "Items"
layout: default
permalink: "/items"
---

<section>
    <div class="section-title">
        <h2><span>{{ page.title }}</span></h2>
    </div>
    
    <div class="article-post">
    <img class="featured-image img-fluid" src="{{ absolute_url }}/assets/items/{{ page.itemid }}.jpg" alt="{{ page.title }}">
    
    {{content}}
    </div>
    
    {% if page.comments == true %}
    
    <div id="comments" class="row mb-5">
        <div class="col-md-8">              
            {% include disqus.html %}                
        </div>
    </div>
    
    {% endif %}
    
</section>